<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Todo Fancy</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div id="vue-app" >
      <app-nav :login="isLogin"></app-nav>
      <div class="container" style="margin-top:20px">
        <app-login v-if="!isLogin"></app-login>
        <div class="row" v-if="isLogin">
          <todo-form @create-todo="getTodos" :todo="todo" :edit="isEdit"></todo-form>
          <div class="col-md-3 ">
            <h4>Todo ({{ todosNotProgress.length }})</h4>
            <todo-list :todos="todosNotProgress" @move-todo="getTodos" @update-todo="editTodo"></todo-list>
          </div>
          <div class="col-md-3 ">
            <h4>On Progress ({{ todosOnProgress.length }})</h4>
            <todo-list :todos="todosOnProgress"@move-todo="getTodos"@update-todo="editTodo"></todo-list>
          </div>
          <div class="col-md-3 ">
            <h4>Finish ({{ todosFinish.length }})</h4>
            <todo-list :todos="todosFinish"@move-todo="getTodos"@update-todo="editTodo"></todo-list>
          </div>

          
        </div>
      </div>



      <div id="login-check" @click="changeStatusLogin">
      </div>
    </div>

    <!-- end of vue app -->
    <div id="fb-root"></div>
    <script src="/js/jquery.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="/js/axios-core.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/components/vue-login-page.js"></script>
    <script src="/js/components/vue-navbar.js"></script>
    <script src="/js/components/vue-todo.js"></script>
    <script src="/js/vue-app.js"></script>
    <script src="/js/fb.js"></script>
    <script src="/js/fb-button.js"></script>
  </body>
</html>
